.margin {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 200px;
    margin-right: 229px;
}

#kecilin img {
    width: 30%;
    margin-bottom: -125px;
    margin-top: -125px;
}

.box-150 img{
    width: 150px;
    height: 150px;
    float: left;
    margin: 15px;
    /* padding: 15px; */
    /* font-size: 15pt; */
    text-align: center;
    cursor: pointer;
    /* float: left; */
    
    
    }

.maroon-box div {
    color: #FFFFFF;
    background: #96281B;
    }

#sticky {
    position: sticky;
    position: -webkit-sticky;
    border-bottom: 1px solid;
    /* border: 3px solid #1a1c20; */
    /* background-color: #cf7500; */
    padding: 5px;
    top: 0;
    }



.float img{
    /* position: absolute; */
    float: center;
    
  }
  /* #batasan #atas {
    position: absolute;
    float: left;
  } */

  a:hover {
    text-decoration: underline;
  }
  
  a:active {
    text-decoration: underline;
  }

  #pointer a{
    cursor: pointer;
    margin-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
  }

  #deskripsi {
     text-align: justify; 
     margin-top: 340px;
     font-size: 10pt;
     font-family: Arial, Helvetica, sans-serif;
  }

  #center {
      text-align: center;
      font-size: 8pt;
      font-family: Arial, Helvetica, sans-serif;
      color: rgb(139, 139, 139);
  }